@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B4BEC9;
}

nav {
    background-image: linear-gradient(to bottom,#002333ad, #B4BEC9);
    padding: 10px;
    text-align: right;
    margin-bottom: 30px;
    box-shadow: 1px 1px 1px #b4bec9;
}

nav a {
    margin-right: 10px;
    font-weight: bolder;
    text-decoration: none;
    color: #002333;
    padding: 10px;
}

nav > a:hover {
    background-color: #00233367;
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 5px;
}

h1 {
    color: #159A9C;
}

h2 {
    color: #002333;
}

span {
    display: inline-block;
    background-color: #2e2e2e;
    height: 200px;
    width: 200px;
    margin: auto;
}

.content {
    text-align: center;
}

.box-inline {
    display: inline;
}